extends root_layout

block root_content 
  .center-screen 
    .file-details 
      h2= file.name 
      p Size:  #{file.size} bytes
      p Created At: #{formattedDate}
      a(href=file.id+'/download') Download