extends root_layout 

block root_content
  .center-screen 
    form.main-form(action="" method="post")
      h2 Are you sure you wish to delete this folder?
      h3 #{folder.name}
      button(type="submit").delete Delete 
      a(href="/") Cancel
