extends layout

block content
  main.auth-form
    .auth-form-container 
      h1.logo File Uploader 
      h2 Login 
      form(action="/login" method="post")
        input(type="text" placeholder="Username" required name="username")
        input(type="password" placeholder="Password" required name="password")
        button(type="submit") Log In 
      if errors 
        .error
          ul 
            each error in errors 
              li= error
      .auth-link 
        p 
          | Don't have an account? 
          a(href="/sign-up") Sign up here