extends layout 

block content
  .main-body 
    header
      h1 File Uploader 
      nav 
        ul 
          li
            a(href="upload-file") Upload a new file
          li 
            a(href="/log-out") Logout 
    main 
      block root_content 