extends layout

block content
  main.auth-form
    .auth-form-container
      h1.logo File Uploader
      h2 Sign Up
      form(action="/sign-up", method="post") 
        input(type="text", placeholder="Username", required, name="username")
        input(type="password", placeholder="Password", required, name="password")
        input(type="password", placeholder="Confirm Password", required, name="confirm-password")
        button(type="submit") Create Account
      if errors 
        ul 
          each error in errors 
            li= error.msg
      .auth-link
        p 
          | Already have an account? 
          a(href="/login") Log in here